@page "/login"
@inject Blazored.LocalStorage.ILocalStorageService _localStorage
@inject NavigationManager _navigationManager
@inject HttpClient _client
<div class="h-100 align-items-center d-flex justify-content-center">
    <div class="login-area">
        <div class="text-center">
            <div class="title fs-1 fw-bold">Photary</div>
            <div class="title fs-6 mb-3">Powered by aipicasso</div>
            <a href="https://www.aipicasso.app/" target="_blank">
                <img src="sample-data/image.png" class="img-icon" />
            </a>
        </div>
        <div class="input-icons">
            <div>
                <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                    <path d="M26.8583 24.9609C25.0055 21.7594 22.0969 19.5129 18.7172 18.5601C20.3604 17.7249 21.6743 16.3606 22.4472 14.6872C23.2201 13.0138 23.4069 11.1289 22.9774 9.33637C22.548 7.54385 21.5274 5.9482 20.0801 4.80671C18.6328 3.66523 16.8433 3.04443 15.0001 3.04443C13.1568 3.04443 11.3673 3.66523 9.92002 4.80671C8.47276 5.9482 7.45212 7.54385 7.02267 9.33637C6.59323 11.1289 6.78001 13.0138 7.55289 14.6872C8.32578 16.3606 9.63973 17.7249 11.2829 18.5601C7.90318 19.5117 4.99459 21.7582 3.14185 24.9609C3.09098 25.0409 3.05682 25.1304 3.04143 25.224C3.02604 25.3176 3.02973 25.4133 3.05229 25.5054C3.07485 25.5975 3.11581 25.6841 3.17271 25.76C3.2296 25.8358 3.30125 25.8994 3.38335 25.9469C3.46546 25.9943 3.55631 26.0247 3.65044 26.0361C3.74458 26.0476 3.84006 26.0398 3.93113 26.0134C4.02221 25.987 4.107 25.9424 4.1804 25.8824C4.2538 25.8223 4.3143 25.7481 4.35826 25.664C6.60943 21.7746 10.5868 19.4531 15.0001 19.4531C19.4133 19.4531 23.3907 21.7746 25.6419 25.664C25.6858 25.7481 25.7463 25.8223 25.8197 25.8824C25.8931 25.9424 25.9779 25.987 26.069 26.0134C26.16 26.0398 26.2555 26.0476 26.3497 26.0361C26.4438 26.0247 26.5347 25.9943 26.6168 25.9469C26.6989 25.8994 26.7705 25.8358 26.8274 25.76C26.8843 25.6841 26.9253 25.5975 26.9478 25.5054C26.9704 25.4133 26.9741 25.3176 26.9587 25.224C26.9433 25.1304 26.9091 25.0409 26.8583 24.9609ZM8.20318 11.25C8.20318 9.90568 8.60181 8.59158 9.34866 7.47384C10.0955 6.3561 11.157 5.48492 12.399 4.97049C13.641 4.45605 15.0076 4.32145 16.3261 4.5837C17.6445 4.84596 18.8556 5.4933 19.8062 6.44386C20.7567 7.39442 21.4041 8.60551 21.6663 9.92397C21.9286 11.2424 21.794 12.6091 21.2795 13.851C20.7651 15.093 19.8939 16.1545 18.7762 16.9014C17.6585 17.6482 16.3443 18.0469 15.0001 18.0469C13.1981 18.0447 11.4705 17.3279 10.1963 16.0537C8.92215 14.7795 8.20535 13.052 8.20318 11.25Z" fill="#C9F943" />
                </svg>
                <input class="input-field" type="text" @bind="Username" />
            </div>
            <div>
                <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                    <path d="M15 21.25C14.337 21.25 13.7011 20.9866 13.2322 20.5178C12.7634 20.0489 12.5 19.413 12.5 18.75C12.5 17.3625 13.6125 16.25 15 16.25C15.663 16.25 16.2989 16.5134 16.7678 16.9822C17.2366 17.4511 17.5 18.087 17.5 18.75C17.5 19.413 17.2366 20.0489 16.7678 20.5178C16.2989 20.9866 15.663 21.25 15 21.25ZM22.5 25V12.5H7.5V25H22.5ZM22.5 10C23.163 10 23.7989 10.2634 24.2678 10.7322C24.7366 11.2011 25 11.837 25 12.5V25C25 25.663 24.7366 26.2989 24.2678 26.7678C23.7989 27.2366 23.163 27.5 22.5 27.5H7.5C6.83696 27.5 6.20107 27.2366 5.73223 26.7678C5.26339 26.2989 5 25.663 5 25V12.5C5 11.1125 6.1125 10 7.5 10H8.75V7.5C8.75 5.8424 9.40848 4.25269 10.5806 3.08058C11.7527 1.90848 13.3424 1.25 15 1.25C15.8208 1.25 16.6335 1.41166 17.3918 1.72575C18.1501 2.03984 18.8391 2.50022 19.4194 3.08058C19.9998 3.66095 20.4602 4.34994 20.7742 5.10823C21.0883 5.86651 21.25 6.67924 21.25 7.5V10H22.5ZM15 3.75C14.0054 3.75 13.0516 4.14509 12.3483 4.84835C11.6451 5.55161 11.25 6.50544 11.25 7.5V10H18.75V7.5C18.75 6.50544 18.3549 5.55161 17.6517 4.84835C16.9484 4.14509 15.9946 3.75 15 3.75Z" fill="#C9F943" />
                </svg>
                <input class="input-field" type="password" @bind="Password" />
            </div>
        </div>
        <div class="btn-area">
            <button class="btn btn-action" @onclick="LoginButtonOnClick" disabled="@Timer.Enabled">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M27.55 9.425L27.575 9.4L30.05 11.875V6.25L28.8 5H6.3L5.025 6.25V7.4825L5 7.5V33.225L5.9 34.375L18.4 38.675L20 37.5V35H28.8L30.05 33.75V28.125L27.55 30.625V32.5H20V11.775L19.175 10.625L10.09 7.5H27.55V9.425ZM17.5 35.7L7.5 32.35V9.3L17.5 12.65V35.7ZM25.225 18.825H37.65V21.325H25.325L29.3 25.325L27.525 27.075L21.35 20.925V19.15L27.575 12.95L29.325 14.7L25.225 18.825Z" fill="#C9F943" />
                </svg>
            </button>
            <button class="btn btn-action" disabled="@Timer.Enabled">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
                    <path d="M28.3333 16.6666H33.3333M33.3333 16.6666H38.3333M33.3333 16.6666V11.6666M33.3333 16.6666V21.6666M1.66663 33.3333V31.6666C1.66663 28.5724 2.89579 25.605 5.08371 23.417C7.27164 21.2291 10.2391 20 13.3333 20M13.3333 20C16.4275 20 19.3949 21.2291 21.5829 23.417C23.7708 25.605 25 28.5724 25 31.6666V33.3333M13.3333 20C15.1014 20 16.7971 19.2976 18.0473 18.0473C19.2976 16.7971 20 15.1014 20 13.3333C20 11.5652 19.2976 9.86949 18.0473 8.61925C16.7971 7.369 15.1014 6.66663 13.3333 6.66663C11.5652 6.66663 9.86949 7.369 8.61925 8.61925C7.369 9.86949 6.66663 11.5652 6.66663 13.3333C6.66663 15.1014 7.369 16.7971 8.61925 18.0473C9.86949 19.2976 11.5652 20 13.3333 20Z" stroke="#B875FA" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </button>
        </div>
        @if (error is not null)
        {
            <div class="error-field">@error</div>
        }
    </div>
</div>
@code {
    private string Username = null!;
    private string Password = null!;
    private string? error = null;
    private Timer Timer = new Timer(3000);

    protected override async Task OnInitializedAsync()
    {
        Timer.Elapsed += (s, e) =>
        {
            error = null;
            Timer.Stop();
            StateHasChanged();
        };
    }

    private async void LoginButtonOnClick()
    {
        if (string.IsNullOrEmpty(Username) || string.IsNullOrEmpty(Password))
        {
            error = "Input error.";
            Timer.Start();
            StateHasChanged();
            return;
        }
        LoginDto loginDto = new LoginDto { Username = Username, Password = Password };
        HttpResponseMessage res = await _client.PostAsJsonAsync<LoginDto>("Login", loginDto);
        if (res.IsSuccessStatusCode)
        {
            LoginResponseDto? loginResponseDto = await res.Content.ReadFromJsonAsync<LoginResponseDto>();
            if (loginResponseDto is not null)
            {
                await _localStorage.SetItemAsStringAsync("TOKEN", loginResponseDto.Token);
                await Task.Delay(500);
                _navigationManager.NavigateTo(_navigationManager.BaseUri);
            }
        }
        else if (res.StatusCode == System.Net.HttpStatusCode.Unauthorized)
        {
            error = "Invalid credentials.";
            Timer.Start();
        }
        else
        {
            error = "Unexpected error has occured.";
            Timer.Start();
        }
        StateHasChanged();
    }
}

